[Desktop Entry]
Type=Application
X-Nemo-Application-Type=silica-qt5
Icon=harbour-quotes
Exec=harbour-quotes
Name=Quotes
# translation example:
# your app name in German locale (de)
# Name[de]=Quotes

