[Desktop Entry]
Type=Application
X-Nemo-Application-Type=silica-qt5
Icon=PhilosophyQuotes
Exec=PhilosophyQuotes
Name=PhilosophyQuotes
# translation example:
# your app name in German locale (de)
Name[de]=PhilosophyQuotes

